numpy==1.18.5
opencv-python==4.3.0.36
matplotlib==3.3.2
torch==1.13
torchprof
pytorch-lightning==1.4
tensorboard==2.11
argcomplete==1.12
black==20.8b1
av==8.0.2
plotly==4.12
psutil==5.7.3
py-cpuinfo==7.0.0
adabelief-pytorch==0.2.1
kornia==0.5.7
requests
moviepy
decord
geocoder
tabulate
jsonpatch
termcolor
python-vlc
airium
facenet-pytorch==2.5.2
unidecode
PyQt5
